.canvas {
    background-color: black;
}

/* Style for score display */
#scoreDisplay {
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    display: inline-block;
}